@charset "UTF-8";

body {
	font-family: 'Helvetica Neue', Arial, sans-serif;
	background-color: #f0f2f5;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	color: #333;
}

#container {
	background-color: #fff;
	padding: 30px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 500px;
	text-align: center;
}

hr {
	border: 1px solid #ddd;
	margin: 20px 0;
}

select option:disabled {
    color: red;
}

select option {
    color: black;
}

.form-select:disabled {
	background-color: #e9ecef;
}

/* Media Query for smaller devices */
@media (max-width: 768px) {
    body {
        height: auto;
        padding: 20px;
    }

    #container {
        width: 90%; /* Adjusts the container width to 90% of the viewport */
        padding: 20px;
        margin: 0 auto; /* Center container */
    }

    h2, h3 {
        font-size: 1.5em; /* Adjust heading font sizes */
    }

    button {
        font-size: 1em;
        padding: 10px 20px;
    }
}

@media (max-width: 480px) {
    #container {
        padding: 15px;
    }

    h2, h3 {
        font-size: 1.2em;
    }

    button {
        font-size: 0.9em;
        padding: 8px 16px;
    }
}
