@charset "UTF-8";

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* 상단 정렬 */
    min-height: 100vh; /* 최소 높이 설정 */
    color: #333;
}

#container {
    background-color: #fff;
    padding: 20px; /* 패딩 감소 */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%; /* 핸드폰 화면에서 너비를 100%로 설정 */
    max-width: 500px; /* 최대 너비를 500px로 설정 */
    text-align: center;
    margin: 0; /* 여백 제거 */
}

hr {
    border: 1px solid #ddd;
    margin: 20px 0;
}

select option:disabled {
    color: red;
}

select option {
    color: black;
}

.form-select:disabled {
    background-color: #e9ecef;
}

/* Media Query for smaller devices */
@media (max-width: 768px) {
    body {
        padding: 0; /* 패딩 제거 */
    }

    #container {
        width: 100%; /* 너비를 100%로 설정 */
        padding: 20px; /* 적당한 패딩 유지 */
        margin: 0; /* 여백 제거 */
    }

    h2, h3 {
        font-size: 1.8em; /* 제목 크기 증가 */
    }

    button {
        font-size: 1em;
        padding: 12px 24px; /* 버튼 패딩 증가 */
    }
}

@media (max-width: 480px) {
    #container {
        padding: 15px; /* 적당한 패딩 유지 */
    }

    h2, h3 {
        font-size: 1.5em; /* 제목 크기 증가 */
    }

    button {
        font-size: 1em; /* 버튼 글자 크기 증가 */
        padding: 10px 20px; /* 버튼 패딩 증가 */
    }
}
